# SASS
.sass-cache

# Laravel
# none so far...

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Trashes

# database files
db_config
database
